/* StyleSheet */

head {
    margin-top: 0px;
}
    
body {   
    margin: 0;
    width: 100%;
    text-align: center;  
    /* background-color: #000; */
}

main { 
   text-align: center;
   width: 100%; 
   height: 800px;
   margin: 0px auto 0 auto;  
   background: linear-gradient(to bottom right, lime, green, blue);
   border-top:1px solid #000;
}

#bg{
    background-size: 35%;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: relative;
}
/* 1800px 900px */
nav {
    text-align: center;
    width: 100%;
    height: 46px;
    background-color: black;
    margin: auto auto;
    
    list-style-type: none; 
    font-size: 16px;
    text-shadow: 3px 3px 5px #000;
}

ul.table {
    /* border-bottom:2px solid grey; */
}

content {
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    color: white;
    display: inline-block;
}

li a {
    border-radius: 5px;
    display: block;
    color: white;
    text-align: center;
    padding: 10px 14px 10px 14px;
    margin: 4px 20px 10px 20px;
    text-decoration: none;
    /* transition: box-shadow 5s; */
    transition: background-color 1s;
    /* transition: color 1s;    */
    transition-timing-function: cubic-bezier(0.42,0,0.58,1);
    
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    border-radius: 5px;
    background-color: #111;
    color: #00FF00;
    /* transform: skew(-5deg); */
    box-shadow: 0px 0px 8px white;
    text-shadow: 0px 0px 3px white;
}


/* url("images/background.jpg") no-repeat right bottom; */