/* StyleSheet */

head {
    margin-top: 0px;
}

body {   
    margin: 0;
    width: 100%;
    text-align: center;  
    background-color: #000;
}

main { 
   width: 70%; 
   height: 700px;
   margin: 7px auto 0 auto;
   border-left: 2px solid gray;
   border-right: 2px solid gray;
   border-bottom: 2px solid gray;
   /* background-color: green; */
}

#bg{
    background-size: 35%;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: relative;
}
/* 1800px 900px */
nav {
    width: 100%;
    height: 40px;
    background-color: black;
    color: green;
    margin-bottom: 0 0 0 0;
    padding-top:0 0 0 0;
    list-style-type: none;
}

content {
   
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
    color: white;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
}


/* url("images/background.jpg") no-repeat right bottom; */