{% load static %}
<!DOCTYPE html>

<html>
<head>
   <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" /> 
</head>

<body>   
    <nav>
        <ul>
          <li><a href="#home">Pool App</a></li>
          <li><a href="#news">LeaderBoard</a></li>
          <li><a href="#contact"></a></li>
          <li style="float:right"><a class="active" href="#about">Log Out</a></li>
        </ul>
    </nav>
    <main id="bg" style="background-image: url('{% static "images/pooltable.png"%}')";>
        <content>

        </content>
        <!-- <img src="pooltable.png" alt="TopDown - Pooltable"> -->
    </main>
</body>
</html>